<% extend @template_main_path + '/html/index.html' %>


<div class="row" >
    
    <div class="col-md-6 col-md-offset-3" >
	<% if @u : %>
	    <% if @u.error : %>
	    <div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%- @u.error %>
	    </div>
	    <% end %>
	    
	    <% if @u.id : %>
	    <div class="alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		добро пожаловать <%- @u.name %>
	    </div>
	    <% end %>
	<% end %>
    </div>
    
    <div class="well col-md-6 col-md-offset-3" >	
    <form method="POST" action="" accept-charset="UTF-8" class="form-login">
	<h4>авторизация</h4>
	<input name="login" type="text"     id="userName"     class="form-control input-sm chat-input" placeholder="логин"  value="<%= @d.login %>" /></br>
	<input name="pass"  type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="пароль" value="<%= @d.pass  %>" /></br>
	<div class="wrapper">
	    <span class="group-btn">     
		<button type="submit" name="submit" class="btn btn-primary btn-md">войти</button>
	    </span>
	</div>
    </form>
    </div>
</div>

<!--
<br>
<br>
<div class="container row" >
<pre>
<%- @g.mixa.dump.var_dump_node('d',@d) %>
<%- @g.mixa.dump.var_dump_node('u',@u) %>
</pre>
</div>
-->