<div class="navbar-header">
  <button type="button"
	  class="navbar-toggle"
	  data-toggle="collapse"
	  data-target=".navbar-responsive-collapse"
	  >
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
    <small><small><i>W<small>eb</small></i></small></small><b><big>C</big></b><small>lient</small></small></small><b>4</b>
  </a>
</div>

  <% include @g.config.temp_path + '/template/html/menu/main_menu.html' %>

<!-- <div class="navbar-collapse collapse navbar-responsive-collapse"> -- >
  
  <ul class="nav navbar-nav">
		<li class='dropdown'>
		<a href="#" class='dropdown-toggle' data-toggle='dropdown'>БД (4)<b class='caret'></b></a>
		<ul class='dropdown-menu'>
				<li><a href="/post">БД (4)</a></li>
				<li class='divider'></li>
				<li><a href="/post?db=1">post_db</a></li>
				<li><a href="/post?db=2">АДминистрирование</a></li>
				<li><a href="/post?db=3">programming</a></li>
				<li><a href="/post?db=4">workdb</a></li>
		</ul>
		<li><a href="/process_info">process_info</a></li>
		<li class='dropdown'>
		<a href="#" class='dropdown-toggle' data-toggle='dropdown'>filenavigator<b class='caret'></b></a>
		<ul class='dropdown-menu'>
				<li><a href="/programs/filenavigator">filenavigator</a></li>
				<li class='divider'></li>
				<li><a href="/programs/filenavigator/download_file">download_file</a></li>
				<li><a href="/programs/filenavigator/execute_file">execute_file</a></li>
		</ul>
		<li><a href="/programs/run_test_app">run_test_app</a></li>
  </ul>
  
-->
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <% user = @locvars.user.get(); %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%- user.name %><b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li><a href="#"><%- @session.user_errors %></a></li>
        <li><a href="#">Another action</a></li>
	<li><a href="#"><%- @session.user_errors %> AAA</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
  </ul>
  
<!-- </div> -->
