node_modules*/
db/**.fdb
db/*.fdb
**.fdb
.bin/*.log
temp/
keys/**
**/log.txt

client_lib/lib/**
!client_lib/lib/.bowerrc
!client_lib/lib/bower.json


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

