node_modules*/
db/**.fdb
db/*.fdb
**.fdb
.bin/*.log
temp/
keys/**
**/log.txt

app/webserver/client/lib/**
!app/webserver/client/lib/.bowerrc
!app/webserver/client/lib/bower.json

app/webserver/files/templates/**/*.js
app/webserver/files/templates/**/*.css


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
