<% extend @template_main_path + '/html/index.html' %>

<% block 'header' : %>
	<h2> <b><%- @db.info.name %></b> <small><small> [id:<%- @db.info.id %>] </small></small> <br><small> <%- @db.info.description %></small></h2>
<% end %>



<div class="row">
    <div class="col-md-10">
	<form method="GET" action="/" class="form-horizontal" id=search_form autocomplete="off" > <!-- enctype="multipart/form-data" -->
	    <div class="form-group">
		<input type="hidden" name=db value="<%- @db.info.id %>" />
		<div class="input-group">
		<input class="form-control" id="search" placeholder="введите текст для поиска" type="text" name=s value="<%- @s %>" />
		  <span class="input-group-btn">
		    <input class="btn btn-default" type="submit" name=sbtn value="поиск" />
		  </span>
		</div>
	    </div>
	</form>
    </div>
    <div class="col-md-1">
	<form method="GET" action="/edit"> <!-- enctype="multipart/form-data" -->
	    <input type="hidden" name=db value="<%- @db.info.id %>" />
	    <input class="btn btn-default" type="submit" name=new value="новая запись" />
	</form>
    </div>
</div>

<pre><%- @g.mixa.dump.var_dump_node('db',@db) %></pre>
