<% extend @template_main_path + '/html/index.html' %>


<div class="row">
    <div class="col-md-12">
	db: <b>< %- @db.name % ></b> <small><small> (id:< %- @db.id_db % >) </small></small>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
	<form method="GET" action="/search" class="form-horizontal" id=search_form autocomplete="off" > <!-- enctype="multipart/form-data" -->
	    <div class="form-group">
		<input type="hidden" name=db value="< %- @db.id_db % >" />
		<div class="input-group">
		<input class="form-control" id="search" placeholder="введите текст для поиска" type="text" name=search value="<%- @search %>" />
		  <span class="input-group-btn">
		    <input class="btn btn-default" type="submit" name=search_btn value="поиск" />
		  </span>
		</div>
	    </div>
	</form>
    </div>
    <div class="col-md-1">
	<form method="GET" action="/edit"> <!-- enctype="multipart/form-data" -->
	    <input type="hidden" name=db value="< %- @id_db % >" />
	    <input type="hidden" name=new_post value="1" />
	    <input class="btn btn-default" type="submit" name=new_record value="новая запись" />
	</form>
    </div>
</div>
