.btn-view-post {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  text-align: left;
  min-height: 2em;
  /** перенос слов ***********************************/
  /*word-wrap: break-word;*/
  white-space: normal;
  overflow-wrap: break-word;
  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word;
  word-break: keep-all;
  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: loose;
  /* нет поддержки для русского языка */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  /* не поддерживает IE, Opera12.14, значение auto не поддерживается Chrome */
}

#progressbarspacer {
  max-height: 5px;
  min-height: 5px;
}
#progressbar {
  max-height: 5px;
}