<!DOCTYPE html>
<html>
  <head>
    <title><%- @page_title %></title>

    <link rel='stylesheet' href='/files/templates/<%- @template_main %>/a.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
<body>

  
<% include @template_main_path + '/html/menu/main_menu.html' %>

 
<header class="header">
    <% content 'header' %>
</header>


  
<div class="container">
  <% content %>
</div>
  


  
<footer class="footer">
  <div class="container">
    <% content 'footer' %>
  </div>
  <div class="col-md-10"></div>
  <div class="col-md-2">
      <small><small><%- @get_execute_time() %></small></small>
  </div>
</footer>


<stdscripts>
  <script language='javascript' src='/files/templates/<%- @template_main %>/a.js'></script>
</stdscripts>

</body>
</html>
