<% extend @template_main_path + '/html/index.html' %>


<div class="container">
    <div class="row" >

	<div class="form-group col-md-4">
	    <label for="name">id:</label>
	    <input type="text" class="form-control" name="id" id="id">
	</div>
	<div class="form-group col-md-3">
	    <label for="name">логин:</label>
	    <input type="text" class="form-control" name="login" id="login">
	</div>
	<div class="form-group col-md-5">
	    <label for="name">имя:</label>
	    <input type="text" class="form-control" name="name" id="name">
	</div>

    </div>

<% for user in @list : %>
    <div class="row" >
	<div class="col-md-4"><small><small><%- user.id %></small></small></div>
	<div class="col-md-3"><%- user.login %></div>
	<div class="col-md-5"><%- user.name %></div>
    </div>
<% end %>

</div>
    
<!-- well  -->
<br>
<br>
<div class="container row" >
<pre>
<%- @g.mixa.dump.var_dump_node('all_vars',@all_vars,{exclude:[/^all_vars\.g/]}) %>
</pre>
</div>
<!--  -->

