<!DOCTYPE html>
<html>
  <head>
    <title><%- @page_title %></title>
    <!-- <link rel='stylesheet' href='<%- @this_template_path_web %>/stylesheets/style.css?llid=<%- @gen_link_id(1) %>' /> /-->
    <link rel='stylesheet' href='<%- @this_template_path_web %>/stylesheets/all.styles.min.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
<body style="background: #000;" onload="document.body.style.background=null;">

  

<!--
<div class="row-fluid">
  <div class="col-md-12">
-->
    

    <nav class="navbar navbar-default navbar-static-top" role="navigation" > <!-- navbar-fixed-top -->
    <div class="container">
    <% include @templates_cfg.template_elemenets_path_dir + '/main_menu/main_menu.ect.html', { title : 'main menu', info: '10$' } %>
    </div>
    </nav>

<!--
<div class="container">
-->
    <!-- h1><%- @this_url_path %></h1 -->

    <div class="row-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        
        
        <div class="row"><div class="col-md-12">
        <% content %>
        </div></div>
        
        
        <stdscripts>
          <script language="javascript" src="<%- @this_template_path_web %>/scripts/all.scripts.min.js"></script>
        </stdscripts>
        
        <div class="row"><div class="col-md-12">
        <% content 'footer' %>
        </div></div>
        
        
        <div class="row"><div class="col-md-12"><small>
        time: <%- @execute_time %>
        </small></div></div>
        
        
      </div>
      <div class="col-md-1"></div>
    </div>


</body>
</html>
