#squaresWaveG{
position:relative;
width:240px;
height:8px;
}

.squaresWaveG{
position:absolute;
top:0;
background-color:#FFFFFF;
width:29px;
height:8px;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:0.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:0.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:0.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:0.7s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_squaresWaveG;
animation-duration:0.7s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-moz-animation-delay:0.28s;
-webkit-animation-delay:0.28s;
-ms-animation-delay:0.28s;
-o-animation-delay:0.28s;
animation-delay:0.28s;
}

#squaresWaveG_2{
left:30px;
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-ms-animation-delay:0.35s;
-o-animation-delay:0.35s;
animation-delay:0.35s;
}

#squaresWaveG_3{
left:60px;
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#squaresWaveG_4{
left:90px;
-moz-animation-delay:0.49s;
-webkit-animation-delay:0.49s;
-ms-animation-delay:0.49s;
-o-animation-delay:0.49s;
animation-delay:0.49s;
}

#squaresWaveG_5{
left:120px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#squaresWaveG_6{
left:150px;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

#squaresWaveG_7{
left:180px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#squaresWaveG_8{
left:210px;
-moz-animation-delay:0.77s;
-webkit-animation-delay:0.77s;
-ms-animation-delay:0.77s;
-o-animation-delay:0.77s;
animation-delay:0.77s;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#FFFFFF;
}

100%{
background-color:#000000;
}

}
